.end{
    margin-top: 90%;
    font-size: 14px;
    padding: 15px;
}

ion-content{
    --background: url('../../../assets/imgs/1.png') 0 0/100% 100% no-repeat;
}

.buttons{
    margin-top: 50%;
    font-size: 14px;
    color: white;
    font-weight: bold;
    margin-left: 5px;
}